.skill{
    display: flex;
    flex-direction: column;
    color: white;
    // width: 7rem;
    img{
        width: 100%;
        max-width: 8rem;
        height: 8rem;
    }
    span{
        font-weight: 500;
        color: #ff1dce;
    }
}