.skill{
    display: flex;
    flex-direction: column;
    color: white;
    // width: 7rem;
    img{
        width: 100%;
        max-width: 8rem;
        height: 8rem;
    }
    span{
        font-weight: 500;
        color: #ff1dce;
    }
}

@media (max-width: 579px) {
    .skill{
        img{
            max-width: 6rem;
        }
    }
}

@media (max-width: 445px) {
    .skill{
        img{
            max-width: 7rem;
        }
    }
}

@media (max-width: 399px) {
    .skill{
        img{
            max-width: 10rem;
        }
    }
}

@media (max-width: 390px) {
    .skill{
        img{
            max-width: 6rem;
        }
    }
}