.skill {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 0.8rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  width: 10rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
  img {
    width: 100%;
    height: 100%;
    // max-width: 8rem;
    // height: 8rem;
  }
  span {
    font-weight: 500;
    color: #fff;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1045px) {
  .skill {
    padding: 1rem;

    span {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 858px) {
  .skill {
    padding: 0.7rem;
  }
}

@media (max-width: 660px) {
  .skill {
    width: 8rem;
    // padding: 0.4rem;
  }
}

@media (max-width: 500px) {
  .skill {
    // width: 7rem;
    // padding: 0.4rem;
  }
}

@media (max-width: 475px) {
  .skill {
    width: 7.2rem;
  }
}

@media (max-width: 435px) {
  .skill {
    width: 6.4rem;
  }
}

@media (max-width: 400px) {
  .skill {
    width: 47%;
  }
}

// @media (max-width: 380px) {
//   .skill {
//     width: 7rem;
//     padding: 0.5rem;
//   }
// }
