.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    color: white;

    div{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    a{
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        &:hover{
            color: rgb(167, 150, 150);
        }
    }
}

@media (max-width: 650px) {
    .navigation{
        justify-content: flex-end;
        div{
            display: none;
        }
    }
}