.contact{
    text-align: left;
    margin-top: 3rem;
    h2{
        color: #fff;
    }

    P{
        color: #94a3b8;
    }
    span{
        color: #fff;
    }

    a{
        text-decoration: none;
        color: #ff1dce;

        &:hover{
            opacity: .7;
        }
    }
}