.header{
    display: flex;
    padding: 1rem 4rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #171717;
    overflow-x: hidden;
}

@media(min-width: 1400px){
    .header{
        max-width: 1400px;
        margin: auto;
    }
}

@media (max-width: 900px) {
    .header{
        padding: 1rem 2rem;
    }
}