.about_me{
  position: sticky;
  height: calc(100vh - 130px - 4rem);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;

  blockquote{
    margin: 0;
    color: #94a3b8;
    font-size: 1.1rem;
    text-align: left;
    width: 80%;

    p{
      color: #ff1dce;
      font-size: 1.2rem;
    }

    h1{
      margin-top: 0;
      color: white;
      font-size: 2rem;
    }
  }
}



@media (max-width: 1120px) {
  .about_me{
    blockquote{
        width: 100%;
    }
  }
}

@media (max-width: 1035px) {
    .about_me{
      blockquote{
          width: 28rem;
      }
    }
}

@media (max-width: 990px) {
    .about_me{
        height: auto;
      blockquote{
          width: 100%;
      }
    }
}