.about_me{
    position: sticky;
    height: calc(100vh - 130px);

    blockquote{
        margin: 0;
        color: #94a3b8;
        font-size: 1.1rem;
        text-align: left;
        width: 35rem;
    }
}



@media (max-width: 1120px) {
  .about_me{
    blockquote{
        width: 30rem;
    }
  }
}

@media (max-width: 1035px) {
    .about_me{
      blockquote{
          width: 28rem;
      }
    }
}

@media (max-width: 990px) {
    .about_me{
        height: auto;
      blockquote{
          width: 100%;
      }
    }
}